@ -0,0 +1,147 @@
.vscode/settings.json
.tmp.driveupload/3057
.tmp.driveupload/3051
.tmp.driveupload/3045
.tmp.driveupload/16438
.tmp.driveupload/16436
.tmp.driveupload/16434
.tmp.driveupload/16432
.tmp.driveupload/16430
.tmp.driveupload/16428
.tmp.driveupload/16422
.tmp.driveupload/16420
.tmp.driveupload/16418
.tmp.driveupload/16416
.tmp.driveupload/16414
.tmp.driveupload/16412
.tmp.driveupload/16410
.tmp.driveupload/16408
.tmp.driveupload/16406
.tmp.driveupload/16404
.tmp.driveupload/16402
.tmp.driveupload/16400
.tmp.driveupload/16398
.tmp.driveupload/16396
.tmp.driveupload/16394
.tmp.driveupload/16392
.tmp.driveupload/16390
.tmp.driveupload/16388
.tmp.driveupload/16386
.tmp.driveupload/16384
.tmp.driveupload/16382
.tmp.driveupload/16380
.tmp.driveupload/16378
.tmp.driveupload/16376
.tmp.driveupload/16374
.tmp.driveupload/16372
.tmp.driveupload/16370
.tmp.driveupload/16368
.tmp.driveupload/16366
.tmp.driveupload/16364
.tmp.driveupload/16362
.tmp.driveupload/16360
.tmp.driveupload/16358
.tmp.driveupload/16356
.tmp.driveupload/16354
.tmp.driveupload/16352
.tmp.driveupload/16350
.tmp.driveupload/16348
.tmp.driveupload/16346
.tmp.driveupload/16344
.tmp.driveupload/16342
.tmp.driveupload/16340
.tmp.driveupload/16338
.tmp.driveupload/16336
.tmp.driveupload/16334
.tmp.driveupload/16332
.tmp.driveupload/16330
.tmp.driveupload/16328
.tmp.driveupload/16326
.tmp.driveupload/16324
.tmp.driveupload/16322
.tmp.driveupload/16320
.tmp.driveupload/16318
.tmp.driveupload/16316
.tmp.driveupload/16314
.tmp.driveupload/16312
.tmp.driveupload/16310
.tmp.driveupload/16308
.tmp.driveupload/16306
.tmp.driveupload/16304
.tmp.driveupload/16302
.tmp.driveupload/16300
.tmp.driveupload/16298
.tmp.driveupload/16296
.tmp.driveupload/16294
.tmp.driveupload/16292
.tmp.driveupload/16290
.tmp.driveupload/16288
.tmp.driveupload/16286
.tmp.driveupload/16284
.tmp.driveupload/16282
.tmp.driveupload/16280
.tmp.driveupload/16278
.tmp.driveupload/16276
.tmp.driveupload/16274
.tmp.driveupload/16272
.tmp.driveupload/16270
.tmp.driveupload/16268
.tmp.driveupload/16266
.tmp.driveupload/16264
.tmp.driveupload/16262
.tmp.driveupload/16260
.tmp.driveupload/16258
.tmp.driveupload/16256
.tmp.driveupload/16254
.tmp.driveupload/16252
.tmp.driveupload/16250
.tmp.driveupload/16248
.tmp.driveupload/16246
.tmp.driveupload/16244
.tmp.driveupload/16242
.tmp.driveupload/16240
.tmp.driveupload/16086
.tmp.driveupload/16084
.tmp.driveupload/16082
.tmp.driveupload/16080
.tmp.driveupload/16078
.tmp.driveupload/16076
.tmp.driveupload/16071
.tmp.driveupload/16069
.tmp.driveupload/16067
.tmp.driveupload/16065
.tmp.driveupload/16032
.tmp.driveupload/16030
.tmp.driveupload/16028
.tmp.driveupload/16020
.tmp.driveupload/16018
.tmp.driveupload/16016
.tmp.driveupload/16014
.tmp.driveupload/16012
.tmp.driveupload/16010
.tmp.driveupload/16008
.tmp.driveupload/16006
.tmp.driveupload/16004
.tmp.driveupload/16002
.tmp.driveupload/16000
.tmp.driveupload/15998
.tmp.driveupload/15996
.tmp.driveupload/15994
.tmp.driveupload/15992
.tmp.driveupload/15990
.tmp.driveupload/15988
.tmp.driveupload/15986
.tmp.driveupload/15984
.tmp.driveupload/15982
.tmp.driveupload/15980
.tmp.driveupload/15978
.tmp.driveupload/15976
.tmp.driveupload/15974
.tmp.driveupload/15972
.tmp.driveupload/15970
.tmp.driveupload/15968
.idea/vcs.xml
.idea/modules.xml
.idea/editor.xml
.idea/CBack.iml
.tmp.driveupload/
.idea/.name
Python/HuggingF Whisper.py
sample.txt
Projects/Ticket System/.vscode/launch.json
Projects/Ticket System/.vscode/settings.json
Projects/Ticket System/.vscode/tasks.json
Projects/Ticket System/.vscode/launch.json
Projects/Ticket System/.vscode/settings.json
Projects/.vscode/settings.json
.idea/.gitignore
.gitignore
sample.txt
*.exe
*.txt
*.c~
*.notes
*.txt
sample.txt
sample.txt
sample.txt
